{% extends 'base.html' %}

{% block title %}
  {% for i in object.metatags.all %}{{ i.titulo }}{% endfor %}
{% endblock %}

{% block content %}
<div class="centro_fondo">
    <div id="centro">
        {# <h1 class="h1_derecha"><strong><span class="azul">g</span><span class="rojo">o</span><span class="amarillo">o</span><span class="azul">g</span><span class="verde">l</span><span class="rojo">e</span> analytics</strong></h1> #}
        {% if object.main_image %}<img class="h1_derecha" src="{{ object.main_image.imagen.url }}" alt="{{ object.main_image.titulo }}" >{% endif %}

        <div class="migas">
            <a href="{% url index %}">Home</a> &gt; 
            {% for a in object.get_ancestors %}
                <a href="{{ a.get_absolute_url }}">{{ a.nombre }}</a> &gt; 
                {% if forloop.last %}
                    <span>{{ object.nombre }}</span>
                {% endif %}
            {% empty %}
                <span>{{ object.nombre }}</span>
            {% endfor %}
        </div>

        <h1 class="h1_izquierda">{{ object.nombre }}</h1>

        <h2>{{ object.titulo }}</h2>

        <div class="texto">
            {{ object.contenido|safe }}

            <a href="#" class="boton boton_verde">Esto es lo que necesito!</a>
        </div><!-- END .texto -->


    </div><!-- END centro -->
</div><!-- END centro_fondo -->
{% endblock %}