{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools-items %}
{{ block.super }}
	<li><a href="/newsletter/admin/newsletter/subscription/download/csv/" class="viewsitelink">Descargar CSV</a></li>
{% endblock %}