nav ul li{position:relative;}
nav ul li > ul{position:absolute;top:80px;left:-120px;z-index:100;min-width:200px;min-height:50px;display:none;border:2px solid #e44d26;background-color:#fff}
nav ul li:last-child > ul{left:-200px}
nav ul > li:hover > ul{display:block}
