@import "__constants.styl"

nav
  & ul
    & li
      position: relative
      & > ul
        position: absolute
        top: 80px
        left: -120px
        z-index: 100
        min-width: 200px
        min-height: 50px
        display: none
        border: 2px solid #e44d26
        background-color: white
      &:last-child > ul
        left: -200px
    & > li:hover > ul
      display: block