@import "__constants.styl"

/* ==== Screen Bigger than 960px ==== */
@media only screen and (min-width:1200px)
  header
    height: auto

/* ==== Screen 960px ==== */
@media only screen and (min-width: 960px) and (max-width: 1199px)
  header
    height: auto

/* ==== Tablet (Smaller than 959px) ==== */
@media only screen and (min-width: 768px) and (max-width: 959px)
  header
    height: auto


/* ==== Phone (landscape 420px) ==== */
@media only screen and (min-width: 480px) and (max-width: 767px)
  header
    height: auto !important


/* ==== Phone (portrait 300px) ==== */
@media only screen and (max-width: 767px)
  header
    height: auto !important

/* ==== Any phone ==== */
@media only screen and (max-width: 767px)
  body
    font-size: 13px !important

  header
    height: auto !important
    line-height: 32px

  nav
    & button, .button, a
      text-align: center
      display: block !important
      margin: 2px 0px !important
      line-height: 32px

    &.group a
      border: none !important


/* ==== Retina ==== */
@media only screen and (-webkit-min-device-pixel-ratio:1.5)
  header
    height: auto