<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>   
    <link rel="shortcut icon" href="{{ conf.favicon.url }}">

    <title>500</title>
</head>
<body>
<div id="arriba">
    <div class="container">
        <h1>
            <a href="{% url index %}">
                <img src="/media/configuracion/logo.gif"  alt="Logotipo" />
                <span>logo</span>
            </a>
        </h1>
        <p>"Internet es nuestro medio, tus resultados nuestra meta"</p>
    </div> <!-- END .container -->
</div> <!-- END #arriba -->


<div id="cuerpo">
    <div class="container">
        <div id="izquierda">
        </div>

        <div class="centro_fondo">
            <div id="centro">
                <div class="migas">
                    <a href="/">Home</a> &gt; 
                    <span>Error del servidor</span>
                </div>

                <h1 class="h1_izquierda">Error del servidor</h1>

                <h2>Vaya hombre...</h2>

                <div class="texto"><br/><br/>
                    <p>Detectamos un problema mientras intentábamos mostrarle la página.<br/>
                    Hemos tomado nota y lo solucionaremos cuanto antes.</p>

                    <p>Mientras tanto, puede seguir navegando por el resto de la web:</p>

                    <div class="botonera">
                        <div>
                            <a href="/" class="boton boton_naranja boton_izquierda">Volver a la página principal</a>
                            <a href="javascript:history.back();" class="boton boton_naranja boton_derecha">Volver a la página anterior</a>
                        </div>
                    </div><!-- END .botonera -->
                </div><!-- END .texto -->


            </div><!-- END centro -->
        </div><!-- END centro_fondo -->

        <div id="derecha">
        </div><!-- END #derecha -->

    </div><!-- END .container -->
</div><!-- END #cuerpo -->

<div id="abajo">
    <div class="container">
    <span>&copy;</span>
    </div><!-- END .container -->
</div><!-- END #abajo -->

<script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/JavaScript" src="/static/js/functions.js"></script>
</body>
</html>

