<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="content-language" content="es-es"/>

   <!-- Geoetiquetas -->
	<meta name="Title" content="{% for i in object.metatags.all %}{{ i.titulo }}{% endfor %}"/>
    <meta name="geo.region" content="ES" />
    <meta name="geo.placename" content="" />
    <meta name="geo.position" content="{{conf.google_maps_center}}" />
    <meta name="ICBM" content="{{conf.google_maps_center}}" />
	
	<!-- Dublin Core --> 
  	<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
	<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
	<meta name="DC.title" content="{{ conf.titulo }}" />
	<meta name="DC.description" content="{% if object.metatags.all %}{% for i in object.metatags.all %}{{ i.descripcion }}{% endfor %}{% else %}{% for i in conf.metatags.all %}{{ i.descripcion }}{% endfor %}{% endif %}" />
	<meta name="DC.subject" content="{% if object.metatags.all %}{% for i in object.metatags.all %}{{ i.palabras_clave }}{% endfor %}{% else %}{% for i in conf.metatags.all %}{{ i.palabras_clave }}{% endfor %}{% endif %}" />
	<meta name="DC.publisher" content="cms" />
	<meta name="DC.date" scheme="DCTERMS.W3CDTF" content="{{ today|date }}" /> <!-- Esto ha de ser dinámico -->
	<meta name="DC.type" scheme="DCTERMS.DCMIType" content="Service" />
	<meta name="DC.format" scheme="DCTERMS.IMT" content="application/xhtml+xml" />
	<meta name="DC.identifier" scheme="DCTERMS.URI" content="http://www.{{ site.domain }}" />
	<meta name="DC.rights" content="(C){{ today|date:'Y' }} {{ site.domain }}" /> <!-- Esto ha de ser dinámico -->
	<meta name="DC.language" scheme="DCTERMS.RFC1766" content="es-es" />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/media.css">

    <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css"> -->
    
    <link rel="shortcut icon" href="{{ conf.favicon.url }}">

    <title>{% block title %}{{ conf.titulo }}{% endblock %}</title>
</head>
<body>
    <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title">
                <img src="{{ conf.logo.url }}"  alt="{{ conf.titulo }}" />
                {{ conf.titulo }}
            </h1>
            <h2 class="slogan">
                {{ conf.eslogan }}
            </h2>

            {% comment %}
            {% load localeurl_tags %}
            Idiomas:

            {% for lang in LANGUAGES %}
                <ul>
                {% ifequal lang.0 LANGUAGE_CODE %}
                    <li class="selected">{{ lang.1 }}</li>
                {% else %}
                    <li><a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a></li>
                {% endifequal %}
                </ul>
            {% endfor %}
            {% endcomment %}
            
            <nav>
                <ul>
                    <li>
                        <a href="">
                            {{ conf.cat1_nombre }}
                        </a>
                        <ul>
                        {% for categoria in cat1 %}
                            <li><a href="{{ categoria.get_absolute_url }}"><span>{{ categoria.menu_nombre }}</span></a>
                                {% if categoria.menu_hijos %}
                                <ul>
                                    {% for hijo in categoria.menu_hijos %}
                                    <li><a href="{{ hijo.get_absolute_url }}">{{ hijo.menu_nombre }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            {{ conf.cat2_nombre }}
                        </a>
                        <ul>
                        {% for categoria in cat2 %}
                                <li><a href="{{ categoria.get_absolute_url }}"><span>{{ categoria.menu_nombre }}</span></a>
                                    {% if categoria.menu_hijos %}
                                    <ul>
                                        {% for hijo in categoria.menu_hijos %}
                                        <li><a href="{{ hijo.get_absolute_url }}">{{ hijo.menu_nombre }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                        {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            {{ conf.cat3_nombre }}
                        </a>                        
                        <ul>
                        {% for categoria in cat3 %}
                                <li><a href="{{ categoria.get_absolute_url }}"><span>{{ categoria.menu_nombre }}</span></a>
                                    {% if categoria.destacados_productos %}
                                    <ul>
                                        {% for producto in categoria.destacados_productos %}
                                        <li><a href="{{ producto.get_absolute_url }}">{{ producto.nombre }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                        {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="main-container">
        <div class="main wrapper clearfix">

            
            {% block content %}{% endblock %}

            <div id="derecha">
                {# Banners #}
                <div class="menu">
                    <ul>
                        {% for b in banners %}
                            <li><a href="{{ b.url }}"><img src="{{ b.imagen.url }}" alt="{{ b.nombre }}" /></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <aside>

                {# Social #}
                <h2>¿Hablamos?</h2>
                <div class="menu">
                    <ul>
                        {% for s in social %}
                        <li><a href="{{ s.enlace }}" onclick="{{ s.enlace_analytics }}"><img src="{{ s.imagen.url }}" alt="{{ s.nombre }}" /></a></li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="telefono">{{ conf.telefono }}</div>
                <h2>¿Prefieres que te llamemos?</h2>

                <form action="{% url index %}" method="post" class="contacto_rapido">
                    {% csrf_token %}
                    {% if quick_form.errors.nombre %}<p>{{ quick_form.errors.nombre.0 }}</p>{% endif %}
                    <label for="{{ quick_form.nombre.auto_id }}" class="none">{{ quick_form.nombre.label }}</label>
                    {{ quick_form.nombre }}
                    {% if quick_form.errors.telefono %}<p>{{ quick_form.errors.telefono.0 }}</p>{% endif %}
                    <label for="{{ quick_form.telefono.auto_id }}" class="none">{{ quick_form.telefono.label }}</label>
                    {{ quick_form.telefono }}
                    {% if quick_form.errors.email %}<p>{{ quick_form.errors.email.0 }}</p>{% endif %}
                    <label for="{{ quick_form.email.auto_id }}" class="none">{{ quick_form.email.label }}</label>
                    {{ quick_form.email }}
                    {% if quick_form.errors.mensaje %}<p>{{ quick_form.errors.mensaje.0 }}</p>{% endif %}
                    <label for="{{ quick_form.mensaje.auto_id }}" class="none">{{ quick_form.mensaje.label }}</label>
                    {{ quick_form.mensaje }}
                    {% if quick_form.errors.condiciones %}<p>{{ quick_form.errors.condiciones.0 }}</p>{% endif %}
                    {{ quick_form.condiciones }}
                    <label id="label_condiciones" for="{{ quick_form.condiciones.auto_id }}">{{ quick_form.condiciones.label|safe }}</label>
                    
                    <input class="btn_send" type="submit" value="Llamadme!" {% if contact.analytics_contactame %}{{ contact.analytics_contactame|safe }}{% endif %}/>
                    <input type="hidden" name="url" value="{{ request.path }}" />
                </form><!-- END .contacto-rapido -->

                <div class="contacto_thanks" style="display: none; ">
                    <a name="#gracias" id="gracias" title="gracias"><h2 class="title-big">¡Gracias por su <br>confianza! </h2></a>
                    <div class="formu-txt">
                        <p>Su consulta ha sido recibida. En breve nos pondremos en contacto con usted</p>
                    </div>
                </div><!-- END .contacto-thanks -->
                
            </aside>

        </div>
    </div>

    <div class="footer-container">
        <footer class="wrapper">
            
            <ul>
                <li><a href="{% url contact %}">Contacto</a></li>
                {% for pagina in pie %}
                <li><a href="{{ pagina.get_absolute_url }}">{{ pagina.pie_nombre }}</a></li>
                {% endfor %}
            </ul>
            <span>&copy; | {{ conf.direccion }} {{ conf.codigo_postal }} - {{ conf.ciudad }}</span>

        </footer>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

<script type="text/JavaScript" src="{{ STATIC_URL }}js/jquery.slides.min.js"></script>
<script type="text/JavaScript" src="{{ STATIC_URL }}js/functions.js"></script>

<script type="text/JavaScript" src="{{ STATIC_URL }}js/main.js"></script>

<script type="text/JavaScript">
    $(function(){

        $('#slides').slidesjs({
            width: 940,
            height: 528,
            navigation: false,
            play: {
              active: true,
              auto: true,
              interval: 4000,
              swap: true,
              pauseOnHover: false,
              restartDelay: 2500
            }
          });
    });

    $(document).ready(function(){
        $(".contacto_rapido").show();
        $(".contacto_thanks").hide();
        // $(".contacto_rapido .btn_send").live("click", "send",function() {
        //     validate_rapido();
        //     return false
        // });
    });

</script>
{% block extra_body %}{% endblock %}
{{ conf.google_analytics|safe }}
</body>
</html>

